# Compiled Python files
*.pyc

# Temporary files
*.~*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables file
.env

# IDE-specific files (add more if needed)
.vscode/
.idea/
*.iml
